@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
}

/* index section */

body{
	webkit-background-size: cover;
    background-size: cover;
}

.main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: white;
	margin-top: 10%;
}

.main-wrapper{
	display: inline;
	background-color: rgba(0,0,0,0.5);
	border-radius: 25px;
	width:100%;
	margin: 0 10%;
}

.weather{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.weather-location{
	color: white;
	display: inline;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
}

.weather-location-icon{
	width: 16px;
	margin-right: 5px;
}

@media only screen and (min-width:768px){


	.main{
		margin-top: 5%;
	}

	.main-wrapper{
		width: 50%;
		margin: 0;
	}

	.weather-location{
		width: 50%;
	}

	.weather-location-icon{
		width: 24px;
	}
}

@media only screen and (min-width:1024px){

	.main-wrapper{
		width: 35%;
	}

	.weather-location{
		width: 35%;
	}
}