<div class="overlay">
<button style="position:fixed; top:0; right:0;" type="button" class="overlay-close btn btn-info">
 <span class="fa fa-window-close-o"></span>
</button>
<div class="overlay-city">
	<input class="overlay-city-input" type="text" name="city" placeholder="Introduce tu ciudad">
	<button type="button" class="overlay-city-button btn btn-info"><span class="fa fa-arrow-right"></span></button>
</div>
</div>