<div class="container main">
	<h2 class="main-greeting">Good Morning</h2>
	<h1 class="main-clock">7:23 am</h1>
	<h3 class="main-date">Friday, 18th December</h3>
</div>
<div class="container weather">
	<p class="weather-location">
		<img class="weather-location-icon" src="img/location.png"><span class="weather-location-city">Chiclana de la frontera</span>
		<img class="weather-location-weathersymbol" src="img/symbol.png"><span class="weather-temperature">5ºC</span>
	</p>
</div>