<div class="main">
	<div class="main-wrapper">
		<h2 class="main-greeting text-xs-center">Good Morning</h2>
		<h1 class="main-clock text-xs-center font-weight-bold">7:23 am</h1>
		<h5 class="main-date text-xs-center">Friday, 18th December</h5>
	</div>
</div>
<div class="weather">
	<p class="weather-location text-xs-center">
		<img class="weather-location-icon" src="img/location.png"><span class="weather-location-city">Chiclana de la frontera</span>
		<img class="weather-location-weathersymbol" src="img/symbol.png"><span class="weather-temperature">5ºC</span>
	</p>
</div>